<% if params[:nom_de_medicament].present? && @pharmacies.present? %>
  <div class="row div-result-search-pharmacies mx-auto">
    <% @pharmacies.each do |pharmacie| %>
      <% if @medicament1 != "" && @quantite1 != "" %>
        <p>La <%= link_to pharmacie.nom , pharmacy_path(id:pharmacie.id, quantite:@quantite, medicament_id:@medicament, medicament1: @medicament_1, qty1: @quantite_1)%> a comme médicament: </p>
      <% else %>
        <p>La <%= link_to pharmacie.nom , pharmacy_path(id:pharmacie.id, quantite:@quantite, medicament_id:@medicament)%> a comme médicament: </p>
      <% end %>
      <% medicament.each do |medoc| %>
        <div class="d-flex div-medoc-pointeur-map justify-content-center">
          <p> <%= medoc.nom %> - </p>
          <% stock = Stock.where(medicament_id: medoc.id, pharmacie_id: pharmacie.id) %>
          <% stock2 = pharmacie.stocks.find_by(medicament: medoc) %>
          <% if stock2.quantite > 0 %>
            <div class="d-flex text-stock">
              <p> En stock </p>
              <i class="fa-solid fa-circle-check"></i>
            </div>
          <% else %>
            <p>C'est pas en stock PAS STOCK!!</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
