<div class="<%= session[:veto] ? "marker-pharmacies marker-pharmacies-veto" : "marker-pharmacies marker-pharmacies-human" %>">
  <h5><%= link_to pharmacie.nom , show_pharma_marker_path(pharmacie), class: "nom-marker-pharmacies"%></h5>
</div>
