<div class="marker-pharmacies" data-controller="map_controller">
  <h5 data-action="click->map_controller#infoMarkers"><%= link_to pharmacie.nom , show_pharma_marker_path(pharmacie), class: "nom-marker-pharmacies"%></h5>
</div>
