<div class="div-phone">
  <div class="div-title-phone">
    <h1>PharmaStock</h1>
  </div>


    <%= link_to root_path, class: "btn-home-page" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>


</div>
