<div class="div-phone">
  <div class="d-flex div-title-phone justify-content-center">
    <h1 class="title-pharma">Pharma</h1><h1 class="title-stock">Stock</h1>
  </div>
  <div class="div-home-page">
    <div class="d-flex flex-column big-box-btn-home">
      <div>
        <%= image_tag "logo-pharma2.png", class: "logo-pharma" %>
      </div>
      <div class="d-flex div-btn-home-pharma-veto">
        <div class="d-flex flex-column div-btn-home-pharmacies">
          <%= link_to pharmacies_path(veto: false), class: "btn-home-pharmacies" do %>
          <% end %>
          <p class="text-home-pharmacies">C'est pour vous ?</p>
        </div>
        <div class="d-flex flex-column div-btn-home-veterinaires">
          <%= link_to pharmacies_path(veto: true), class: "btn-home-veterinaires" do %>
          <% end %>
          <p class="text-home-veterinaires">Ou votre annimal ?</p>
        </div>
      </div>
      <div>
        <%= image_tag "Patte-chat2.png", class: "logo-patte-chat" %>
      </div>
    </div>
  </div>
</div>
