.div-phone {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(212, 212, 212);
  // border-radius: 50px;
  // border: 1px grey solid;
}

.div-title-phone {
  background-color: white;
  padding-top: 65px;
  border-bottom: 1px grey solid;
}

.btn-home-page i {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 900;
  padding-top: 7px;
  font-size: 30px;
}

.btn-home-page-human i {
  color: #22B14C;
  border: #22B14C 1px solid;
}

.btn-home-page-veto i {
  color: #004b91;
  border: #004b91 1px solid;
}

.big-box-index-pharmacies {
  padding: 20px;
}

#nom_de_medicament:focus,
#quantite:focus {
  caret-color: transparent;
  border: 1px solid rgb(128, 128, 128);
  outline: none !important;
}

.div-btn-mes-reservations:active,
.div-btn-garde:active,
.btn-home-page i:active,
.input-quantite-search-bar:focus,
.input-quantite-search-bar-plus:focus,
.select2-selection--single:focus {
  box-shadow: rgb(110, 120, 111) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.div-btn-mes-reservations,
.div-btn-garde,
.input-quantite-search-bar,
.input-quantite-search-bar-plus,
.btn-search-bar,
.btn_plus,
.btn-home-page i {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input-quantite-search-bar:focus,
.input-medicaments-search-bar:focus {
  background-color: white;
}

.input-quantite-search-bar {
  text-align: center;
  background-color: white;
  border-radius: 0;
  width: 54px;
  border-left: 0;
  border-right: 3px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
}

.input-quantite-search-bar-plus {
  text-align: center;
  background-color: white;
  width: 54px;
  border-left: 0;
  border-right: 1px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.select2-selection--single {
  display: flex !important;
  font-size: 14px !important;
  align-items: center !important;
  text-align: center !important;
  background-color: white !important;
  width: 177px !important;
  height: 38px !important;
  border-right: 3px solid rgb(128, 128, 128) !important;
  border-top: 1px solid rgb(128, 128, 128) !important;
  border-bottom: 1px solid rgb(128, 128, 128) !important;
  border-left: 1px solid rgb(128, 128, 128) !important;
  border-radius: 15px 0 0 15px !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 0px 0px 0px;

}

.btn_plus {
  background-color: white;
  width: 35px;
  border-left: 0;
  border-right: 1px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-search-bar {
  background-color: white;
  width: 40px;
  border-left: 0;
  border-right: 3px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  text-align: center;
}

.btn-search-bar i,
.btn_plus i {
  font-size: 21px;
  color: rgb(72, 72, 72);
  padding: 3px 3px 0 0;
}

.form-search-bar {
  padding: 6px 0 0 13px;
}

.items-index {
  z-index: 1;
  position: relative;
}

.btn-mes-reservations,
.btn-garde {
  background-size: cover;
  width: 35px;
  height: 35px;
  display: block;
}

.btn-mes-reservations {
  background-image: url("https://fiches-pratiques.e-marketing.fr/Assets/Img/FICHEPRATIQUE/2021/10/365359/Comment-generer-facilement-code--F.jpg");
}

.div-btn-garde a {
  text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    padding: 7px 3px 0 0;
}

.div-btn-garde-veto a {
  color: #004b91;
}

.div-btn-garde-human a {
  color: #22B14C;
}

.div-btn-mes-reservations,
.div-btn-garde {
  background-color: white;
  padding: 12px;
  border-radius: 50%;
}

.div-btn-mes-reservations {
  margin: 0 0 30px 20px;
  border: 1px solid rgb(128, 128, 128);
}

.div-btn-garde {
  margin: 0 20px 30px 0;
}

.div-btn-garde-human {
  border: #22B14C 1px solid;
}

.div-btn-garde-veto {
  border: #004b91 1px solid;
}

.div-search-bar-btn-reservation {
  height: 80vh;
}

.text-garde {
  font-size: 14px;
  align-items: end;
  height: 35px;
}

.text-garde p {
  padding-left: 20px;
}

.logo_gyrophare {
  width: 67px;
  height: 55px;
}

.text-stock,
.text-non-stock {
  padding-left: 4px;
}

.text-stock i {
  color: #31d931;
  font-size: 21px;
  padding-left: 10px;
}

.text-non-stock i {
  color: red;
  font-size: 21px;
  padding-left: 10px;
}
