.div-phone {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(212, 212, 212);
  // border-radius: 50px;
  // border: 1px grey solid;
}

.div-title-phone {
  background-color: white;
  padding-top: 65px;
  border-bottom: 1px grey solid;
}

.btn-home-page i {
  background-color: white;
  color: #22B14C;
  border: #22B14C 1px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 900;
  padding-top: 7px;
  font-size: 30px;
}

.big-box-index-pharmacies {
  padding: 20px;
}

#nom_de_medicament:focus,
#quantite:focus {
  caret-color: transparent;
  border: 1px solid rgb(128, 128, 128);
  outline: none !important;
}

.div-btn-mes-reservations:active,
.btn-home-page i:active,
.input-quantite-search-bar:focus,
.input-quantite-search-bar-plus:focus,
.input-medicaments-search-bar:focus {
  box-shadow: rgb(110, 120, 111) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.div-btn-mes-reservations,
.input-quantite-search-bar,
.input-quantite-search-bar-plus,
.input-medicaments-search-bar,
.btn-search-bar,
.btn_plus,
.btn-home-page i {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input-quantite-search-bar:focus,
.input-medicaments-search-bar:focus {
  background-color: white;
}

.input-quantite-search-bar {
  text-align: center;
  background-color: white;
  width: 54px;
  border-left: 0;
  border-right: 3px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
}

.input-quantite-search-bar-plus {
  text-align: center;
  background-color: white;
  width: 54px;
  border-left: 0;
  border-right: 1px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.input-medicaments-search-bar {
  text-align: center;
  background-color: white;
  width: 177px;
  border-right: 3px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  border-left: 1px solid rgb(128, 128, 128);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.btn_plus {
  background-color: white;
  width: 35px;
  border-left: 0;
  border-right: 1px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-search-bar {
  background-color: white;
  width: 40px;
  border-left: 0;
  border-right: 3px solid rgb(128, 128, 128);
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  text-align: center;
}

.btn-search-bar i, .btn_plus i {
  font-size: 21px;
  color: rgb(72, 72, 72);
  padding: 3px 3px 0 0;
}

.form-search-bar {
  padding: 6px 0 0 13px;
}

.items-index {
  z-index: 1;
  position: relative;
}

.btn-mes-reservations {
  background-image: url("https://fiches-pratiques.e-marketing.fr/Assets/Img/FICHEPRATIQUE/2021/10/365359/Comment-generer-facilement-code--F.jpg");
  background-size: cover;
  width: 35px;
  height: 35px;
  display: block;
}

.div-btn-mes-reservations {
  background-color: white;
  width: fit-content;
  padding: 12px;
  border-radius: 50%;
  margin: 0 0 30px 20px;
  border: 1px solid rgb(128, 128, 128);
}

.div-search-bar-btn-reservation {
  height: 80vh;
}
