.div-phone {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(212, 212, 212);
  // border-radius: 50px;
  // border: 1px grey solid;
}

.div-phone h1 {
  margin-bottom: 35px;
  color: #22B14C;
  font-weight: bold;
}

.div-title-phone {
  background-color: white;
  padding-top: 65px;
  border-bottom: 1px grey solid;
}

.big-box-index-reservation {
  background-color: #EBFFF1;
  padding: 20px;
  height: 100vh;
}

.div-index-reservations {
  background-color: #EBFFF1;
  height: auto;
  border-radius: 15px;
}

.div-each-reservation {
  height: auto;
  border: #22B14C 2px solid;
  border-radius: 15px;
  background-color: #f7fff9;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.text-reservation {
  font-size: 18px;
  font-weight: 500;
}

.btn-cancel-reservation {
  text-decoration: none;
  padding: 15px 20px;
  background-color: #ff4b4b;
  font-size: 20px;
  border-radius: 15px;
  font-weight: bold;
  color: black;
  border: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-cancel-reservation:active {
  background-color: red;
  box-shadow: rgb(110, 120, 111) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.div-btn-cancel-reservation {
  margin: 0 0 10px 0;
}

.link-reservation {
  background-image: url("https://fiches-pratiques.e-marketing.fr/Assets/Img/FICHEPRATIQUE/2021/10/365359/Comment-generer-facilement-code--F.jpg");
  background-size: cover;
  width: 42px;
  height: 42px;
  display: block;
}

.link-reservation-search {
  font-size: 17px;
  text-decoration: none;
  color: black;
  background-color: #EBFFF1;
  padding: 8px 7px;
  border-radius: 10px;
  font-weight: bold;
  border: #22B14C 2px solid;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.link-reservation-search:active {
  box-shadow: rgb(110, 120, 111) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.div-link-reservation {
  margin-bottom: 15px;
}

.div-btn-home-page {
  margin-top: 9px;
}
