.marker-pharmacies {
  width: 12vh;

  h5 {
    margin-top: 8vh;
  }
}

.div-medoc-pointeur-map {
  text-align: center;
}

.text-stock {
  padding-left: 4px;
}

.text-stock i {
  color: #31d931;
  font-size: 20px;
  padding-left: 4px;
}
