.marker-pharmacies {
  width: 12vh;

  h5 {
  padding-top: 6vh;
  }
}

.div-medoc-pointeur-map {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.text-stock, .text-non-stock {
  padding-left: 4px;
}

.text-stock i {
  color: #31d931;
  font-size: 21px;
  padding-left: 10px;
}

.text-non-stock i {
  color: red;
  font-size: 21px;
  padding-left: 10px;
}

.mapboxgl-popup-content {
  background-color: transparent;
}

.div-result-search-pharmacies {
  background-color: #f7fff9;
  border: #22B14C 2px solid;
  width: auto;
  height: auto;
  padding-top: 20px;
  border-radius: 15px;
  padding-top: 20px;
}

.nom-pharmacies {
  text-decoration: none;
  outline: none !important;
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: roboto;
}

.link-nom-pharmacies {
  padding: 0;
}

.mapboxgl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.mapboxgl-popup-close-button {
  display: none !important;
}

.mapboxgl-popup-tip {
  border-color: transparent !important;
}

.popup-fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Vous pouvez ajuster la durée et le type de transition selon vos préférences */
}
.popup-fade-in.show {
  opacity: 1;
}
