.div-phone {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  // background-color: rgb(212, 212, 212);
  // border-radius: 50px;
  // border: 1px grey solid;
}

.div-title-phone {
  background-color: white;
  padding-top: 65px;
  border-bottom: 1px grey solid;
}

.div-show-panier {
  height: 100vh;
}

.div-show-panier-human {
  background-color: #EBFFF1;
}

.div-show-panier-veto {
  background-color: #c7daf7b8;
}

.div-show-panier h4 {
  padding: 20px 0;
}

.input-quantite-panier input {
  pointer-events: none;
  width: 38px;
  border-radius: 15px;
  padding: 0px 0 0 0px;
  margin: 0 5px;
  border: 1px solid rgb(128, 128, 128);
  text-align: center;
  font-weight: bold;
}

.div-plus-moins h5 {
  margin: 20px 20px 20px 0;
  font-size: 17px;
  padding: 3px 3px 0 0;
}

.div-plus-moins p {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}

.div-plus-moins i {
  border-radius: 50%;
  line-height: 1.2;
  font-size: 20px;
  width: 28px;
  height: 28px;
  background-color: white;
  border: 1px solid rgb(128, 128, 128);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.div-plus-moins .fa-minus:active {
  box-shadow: rgb(110, 120, 111) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.div-plus-moins .fa-plus:active {
  box-shadow: rgb(110, 120, 111) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.div-medicaments-panier {
  height: auto;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.div-medicaments-panier-human {
  border: #22B14C 2px solid;
  background-color: #f7fff9;
}

.div-medicaments-panier-veto {
  border: #0E6BA8 2px solid;
  background-color: #f7f9ff;
}

.div-medicaments-panier h5 {
  margin: 0;
}

.btn-reserver-panier {
  text-decoration: none;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 15px;
  font-weight: bold;
  color: black;
  border: 0;
  margin-top: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-reserver-panier-human {
  background-color: lightgreen;
}

.btn-reserver-panier-veto {
  background-color: #8ec3e9;
}


.btn-reserver-panier:active {
  box-shadow: rgb(110, 120, 111) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.btn-reserver-panier-human:active {
  background-color: rgb(120, 252, 120);
}

.btn-reserver-panier-veto:active {
  background-color: #52b9f5;
}
