.div-phone {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(212, 212, 212);
  // border-radius: 50px;
  // border: 1px grey solid;
}

.div-phone h1 {
  margin-bottom: 35px;
  color: #22B14C;
  font-weight: bold;
}

.div-title-phone {
  background-color: white;
  padding-top: 65px;
  border-bottom: 1px grey solid;
}

.div-QR-code svg {
  transform: scale(0.7);
}

.big-box-show-reservation {
  background-color: #EBFFF1;
  padding: 20px;
  height: 100vh;
}

.div-show-reservations {
  background-color: #EBFFF1;
  height: auto;
  border-radius: 15px;
}

.div-show-reservations p {
  margin: 20px 0 0 0;
  font-size: 22px;
  font-weight: 500;
}
